@{
    ViewBag.Title = "Vendor Site Manager";
    ViewBag.TitleList = "Sort By Column";
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

<script src="~/Scripts/myjslib/VendorSiteManagerController.js?Ver=@ViewBag.Version"></script>
@*<script src="~/Scripts/myjslib/ddlBindings.js"></script>*@
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<input type="hidden" id="Id1" name="Id1" value="" ng-model="hfId1" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Site Manager</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Global</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Site Manager</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" ng-init="AllPartySiteLoad()">
                                            <label class="control-label">Site<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select   id="ddlVendorSiteId" autocomplete='address-level2' class="select2 form-control validate"  ng-model="SiteId" ng-change="loadDataSite()">
                                                    <option value="">Select Site</option>
                                                    <option ng-repeat="x in AllPartySiteVList" value="{{x.SiteId}}">{{x.SiteName}}</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                      
                                      
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Manpower Count</label>
                                            <div class="input-box">
                                                <input id="txtManpowerCount" type="text" ng-model="ManPowerCount" ng-disabled="true" onblur="validateNumberAndDecimalOnly('#txtManpowerCount')"
                                                       class="form-control text-right clear" />

                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Address </label>
                                            <div class="input-box">
                                                @Html.TextBox("txtAddress", "", new { @class = "form-control clear ", @placeholder = "", @ng_model = "Address",@ng_disabled="true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Pincode</label>
                                            <div class="input-box">
                                                <input class="form-control clear validate" id="txtpincode" ng-model="Pincode"  ng-disabled="true"  type="text" maxlength="6" onblur="validateNumberAndDecimalOnly('#txtpincode')" />

                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Country<span class="vd_red">*</span></label>
                                            <div class="input-box" > 
                                                <input id="TXTCountryId" type="text" ng-model="CountryId"  ng-disabled="true"  class="form-control  clear validate" /> 
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">State<span class="vd_red">*</span></label>
                                            <div class="input-box"> 
                                                <input id="txtStateId" type="text" ng-model="StateId" class="form-control clear validate" ng-disabled="true" /> 
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">City<span class="vd_red">*</span></label>
                                            <div class="input-box"> 
                                                    <input id="txtCityId" type="text" ng-model="CityId"  ng-disabled="true"  class="form-control   clear validate" />  
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Location</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtLocationCode", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "LocationCode" ,@ng_disabled="true"})
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact No </label>
                                            <div class="input-box">
                                                @Html.TextBox("txtContactNo", "", new { @class = "form-control clear", @maxlength = "10", @onblur = "validatePhoneNo('#txtContactNo')", @placeholder = "", @ng_model = "MobileNo",@ng_disabled="true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">CLRA RC<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlCLRARC" class="select2 form-control validate " ng-model="CLRARC" ng-disabled="true">
                                                    <option value="">Select</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact Person Name</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtContactPerson", "", new { @class = "form-control clear", @placeholder = "", @ng_model = "ContactPerson", @ng_disabled = "true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact Person Mobile No.</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtContactMobile", "", new { @class = "form-control clear", @maxlength = "10", @onblur = "validatePhoneNo('#txtContactMobile')", @placeholder = "", @ng_model = "ContactMobile",@ng_disabled="true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact Person  Email Id </label>
                                            <div class="input-box">
                                                <input class="form-control clear " id="txtEmailID" ng-model="EmailId" ng-disabled="true" onblur="validateEmail('#txtEmailID')" type="email" />
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Descritpion</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtDescritpion", "", new { @class = "form-control clear", @placeholder = "", @ng_model = "Descritpion",@ng_disabled = "true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Valid From  </label>
                                            <div class="input-box">
                                                @Html.TextBox("txtValidFrom", "", new { @class = "form-control clear", @type = "date", @placeholder = "", @ng_model = "ValidFrom", @ng_disabled = "true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Valid To</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtValidTo", "", new { @class = "form-control clear", @type = "date", @placeholder = "", @ng_model = "ValidTo", @ng_disabled = "true" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" >
                                            <label class="control-label">Only Vendor can Upload, Format will be PDF</label>
                                            <div class="input-box">
                                             
                                                <input type="file" id="Vendor{{$index}}"  onchange="angular.element(this).scope().Vendorshow(this, '#AlbumIcon')" ng-model="VendorFileDoc">
                                                <a target="_blank"  href="{{VendorFileDoc}}" ng-show="vendoc"><img style="width:50px" src="~/Content/img/upload.png" /></a>
                                              
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Partial("ActionView")
                                        </div>

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>
