
@{
    ViewBag.Title = "Subscription Master";
    ViewBag.TitleList = "Sort By Column";
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}
 
<script src="~/Scripts/myjslib/SubscriptionMasterController.js?Ver=@ViewBag.Version"></script>
<script type="text/javascript">
     
</script>
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Subscription Master</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Global</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Subscription Master</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-md-2 col-sm-2 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Subscription Code<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <input class="form-control clear validate" id="txtSubscriptionCode" ng-model="SubscriptionCode" type="text" placeholder="Subscription Code" />
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Subscription Title<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtSubscriptionTitle", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "SubscriptionTitle" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Subscription Short Detail<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtSubscriptionShortDetail", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "SubscriptionShortDetail" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Subscription Amount<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtAmount", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "Amount", @onblur = "validateNumberAndDecimalOnly('#txtAmount')" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Subscription Description<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextArea("txtDescription", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "Description", @name = "txtDescription", @id = "txtDescription" })
                                                <div class="text-box-msg-r"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" style="display:none;">
                                            <label class="control-label">Is Active<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.Partial("ddlActive")
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Partial("ActionView")
                                        </div>

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>

