@{
    ViewBag.Title = "Party Master";
    ViewBag.TitleList = "Sort By Column";
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

<script src="~/Scripts/myjslib/PartyMastController.js?Ver=@ViewBag.Version"></script>
@*<script src="~/Scripts/myjslib/ddlBindings.js"></script>*@
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Party Master</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Global</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Party Master</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Party Type<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlVT" autocomplete='address-level2' class="select2 form-control validate" ng-model="PartyType" ng-change="ChkIsClient(PartyType)">
                                                    <option value="">Select </option>
                                                    <option value="Vendor">Vendor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Client">Client</option> 
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" style="display:none">
                                            <label class="control-label">Vendor Mapping with client</label>
                                            <div class="input-box" ng-init="AllParty()">
                                                <select id="ddlVendorId" autocomplete='address-level2' class="select2 form-control " ng-model="VendorId" ng-change="AllPartySiteV()">
                                                    <option value="">Select Vendor</option>
                                                    <option ng-repeat="x in AllPartyList | filter: { PartyType: 'Vendor' }" value="{{x.PartyId}}">{{x.PartyName}}</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Party Name<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtPartyName", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "PartyName" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Address </label>
                                            <div class="input-box">
                                                @Html.TextBox("txtAddress", "", new { @class = "form-control clear ", @placeholder = "", @ng_model = "Address" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" style="display:none">
                                            <label class="control-label">Pincode</label>
                                            <div class="input-box">
                                                <input class="form-control clear" id="txtPincode" ng-model="Pincode" type="text" maxlength="6" onblur="validateNumberAndDecimalOnly('#txtPincode')" /> 
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Email Id <span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <input id="txtEmail" class="form-control clear validate"   ng-model="EmailId" type="email" onblur = "validateEmail('#txtEmail')" />
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact No<span class="vd_red">*</span> </label>
                                            <div class="input-box">

                                                <input id="txtContactNo" class = "form-control clear validate" onblur= "validatePhoneNo('#txtContactNo')" maxlength = "10" placeholder = "" ng-model = "MobileNo" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"  />
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                     

                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact Person Name<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtContactPerson", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "ContactPerson" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Contact Person Mobile No.</label>
                                            <div class="input-box">
                                                <input id="txtContactMobile" class="form-control clear" onblur="validatePhoneNo('#txtContactMobile')" maxlength="10" placeholder="" ng-model="ContactMobile" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))" />
                                                @*@Html.TextBox("txtContactMobile", "", new { @class = "form-control clear", @placeholder = "", @maxlength = "10", @onblur = "validatePhoneNo('#txtContactMobile')", @ng_model = "ContactMobile" })*@
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Descritpion</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtDescritpion", "", new { @class = "form-control clear", @placeholder = "", @ng_model = "Descritpion" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Is Active</label>
                                            <div class="input-box">
                                             
                                                @Html.Partial("ddlActive")
                                                
                                                   <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Partial("ActionView")
                                        </div>

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>

