@{
    ViewBag.Title = "Document Master";
    ViewBag.TitleList = "Sort By Column";
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

<script src="~/Scripts/myjslib/DocumentMasterController.js?Ver=@ViewBag.Version"></script> 
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Document Master</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Vendor</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Document Master</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Document Name<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtDocumentName", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "DocumentName" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Type<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtDocumentType", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "DocumentType" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Frequency<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                @Html.TextBox("txtFrequency", "", new { @class = "form-control clear validate", @placeholder = "", @ng_model = "Frequency" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Format Type<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlft" autocomplete='address-level2' class="select2 form-control validate" ng-model="FormatType">
                                                    <option value="">Select </option>
                                                    <option value="image">Image[Included only jpg and png Format]</option>
                                                    <option value="png">Only png</option>
                                                    <option value="jpg">Only jpg</option>
                                                   
                                                    <option value="pdf">pdf</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Note</label>
                                            <div class="input-box">
                                                @Html.TextBox("txtNote", "", new { @class = "form-control clea", @placeholder = "", @ng_model = "Note" })
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Is Mandotory <span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlVT" autocomplete='address-level2' class="select2 form-control validate" ng-model="IsDefault">
                                                    <option value="">Select </option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option> 
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Is Active<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlVT" autocomplete='address-level2' class="select2 form-control validate" ng-model="IsDelete">
                                                    <option value="">Select </option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        

                                      

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Partial("ActionView")
                                        </div>

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>

