@{
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myLoginApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-vendor Management System</title>
    <!-- VENDOR CSS -->
    <!-- FAVICON ICON -->
    <link rel="icon" href="@Url.Content("~/Content/img/favicon.png")" type="image/x-icon" media="all">

    <link href="@Url.Content("~/Content/plugins/vendors/bower_components/bootstrap/dist/css/bootstrap.min.css")"
          rel="stylesheet" media="all" />
    <link href="@Url.Content("~/Content/plugins/assets/css/font-icons/font-awesome.css")" rel="stylesheet" media="all" />
    <!-- MAIN CSS -->

    <link href="@Url.Content("~/Content/plugins/login/css/main.css?Ver="+ViewBag.Version+"")" rel="stylesheet" media="all" />
    <link href="@Url.Content("~/Content/plugins/login/css/color_skins.css")" rel="stylesheet" media="all" />

    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/myjslib/loginController.js?Ver="+ViewBag.Version+"")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/myjslib/myJs.js?Ver="+ViewBag.Version+"")"></script>
    <link href="~/Content/plugins/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
   
     <script>

        $(window).ready(function () {
            $(".login-welcome-back-main-container-button-container").click(function () {
                $(".login-colored-container").removeClass("login-colored-container-left");
                $(".login-welcome-back").removeClass("login-welcome-back-active");
                $(".login-create-container").removeClass("login-create-container-active");
                $(".login-login-container").removeClass("login-login-container-inactive");
                $(".login-hello-container").removeClass("login-hello-container-inactive");
                $(".login-colored-container").addClass("login-colored-container-right");
                $(".login-welcome-back").addClass("login-welcome-back-inactive");
                $(".login-create-container").addClass("login-create-container-inactive");
                $(".login-login-container").addClass("login-login-container-active");
                $(".login-hello-container").addClass("login-hello-container-active");
            });

            $("#txtUserName").focus();
            $("#txtUserName").val($("#element").val());
            //$(".input-effect input").val("");
            //$('#txtUserName').focus();

            //$(".input-effect input").focusout(function () {
            //    if ($(this).val() != "") {
            //        $(this).addClass("has-content");
            //    } else {
            //        $(this).removeClass("has-content");
            //    }
            //})


            $("#txtPassWord").focus(function () {
                //debugger;
                var text_val = $(this).val();
                if (text_val === "") {

                    if ($('#PasswordShowHide').css('display') == 'block') {
                        $('#PasswordShow').css("display", "none");
                        $('#LoginLock').css("display", "none");
                    } else {
                        $('#LoginLock').css("display", "none");
                        $('#PasswordShow').css("display", "block");
                    }
                }
                else {
                    if ($('#PasswordShowHide').css('display') == 'block') {
                        $('#PasswordShow').css("display", "none");
                        $('#LoginLock').css("display", "none");
                    } else {
                        $('#LoginLock').css("display", "none");
                        $('#PasswordShow').css("display", "block");
                    }
                }
            }).blur(function () {
                if ($(this).val().length === 0) {
                    $('#PasswordShow').css("display", "none");
                    $('#PasswordShowHide').css("display", "none");
                    $('#LoginLock').css("display", "block");
                    $('#txtPassWord').attr('type', 'password');
                }
            });
            $('#PasswordShow').click(function () {
                $('#PasswordShow').css("display", "none");
                $('#LoginLock').css("display", "none");
                $('#PasswordShowHide').css("display", "block");
                $('#txtPassWord').attr('type', 'text');
            });
            $('#PasswordShowHide').click(function () {
                $('#PasswordShowHide').css("display", "none");
                $('#LoginLock').css("display", "none");
                $('#PasswordShow').css("display", "block");
                $('#txtPassWord').attr('type', 'password');
            });
            $('#SupportOH').click(function () {
                var hasClass = $('#SupportO').hasClass('show');
                if (hasClass === true) {
                    $('#SupportO').removeClass('show');
                    $('#SupportM').removeClass('move');
                }
                else {
                    $('#SupportO').addClass('show');
                    $('#SupportM').addClass('move');
                }
            });
        });
    </script>


</head>
<body class="theme-orange" oncontextmenu="return false;">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-20">
                @*<img src="@Url.Content("../Content/plugins/login/images/logo-base.png")" style="width:350px" alt="E-VENDOR MANAGEMENT IN CAPITAL">*@
            </div>

            @*<p>Please wait...</p>*@
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="login-wrapper">
            <div class="login" ng-controller="myLoginController">
                <div class="login-welcome-back login-welcome-back-active">
                    <div class="login-welcome-back-main-container">
                        <div class="login-welcome-back-logo-container">
                            <img class="login-welcome-back-logo-container-image" src="../Content/plugins/login/images/logo.png" alt="EZCompliance" />
                        </div>
                        <div class="login-welcome-back-main-container-text-container">
                            <span class="login-welcome-back-main-container-text-container-title">Welcome Back!</span>
                            <span class="login-welcome-back-main-container-text-container-secondary">To keep connected with us please login with your personal info.</span>
                        </div>
                        <div class="login-welcome-back-main-container-button-container" ng-click="LoadFocus()">Sign In</div>
                    </div>
                </div>
                <div class="login-create-container login-create-container-active">
                    <img class="login-welcome-back-logo-container-image" src="../Content/plugins/login/images/img1.jpg" alt="" />
                </div>
                <div class="login-login-container login-login-container-inactive">
                    <div class="login-login-container-logo-container">
                        <img class="login-login-container-logo-container-image" src="../Content/plugins/login/images/logo.png" alt="EZCompliance" />
                    </div>
                    <div class="login-login-container-main-container">
                        <div class="login-login-container-main-container-form-container">
                            <div class="logo-form-area">
                                <div class="form-box">
                                    <div class="logo-box">
                                        <img class="desktop-logo" ng-model="Logo" src="../Content/plugins/login/images/logo.png" alt="Logo" />
                                        <img id="imgSchoolLogo" class="mobile-logo" ng-model="Logo" src="../Content/plugins/login/images/logoadmin.png" alt="Logo" />
                                    </div>
                                    <div class="sub-title">
                                        E-vendor Management System<label id="lblBranchCode" style="display:none;" ng-model="BranchCode" ng-bind="BranchCode"></label>
                                    </div>
                                    <div class="signin-msg-box">
                                        <div id="msgbox" style="display:none;">
                                            <label id="lblmsg"></label>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <form class="form-auth-small" id="loginbox" ng-init="LoadMap()">
                                            <div class="form-group">
                                                <input id="txtUserName" class="form-control validate" placeholder="Username" ng-model="Username" ng-blur="CUVAILD()" />

                                                <span class="focus-border"></span>
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBox("txtPassWord", "", new { @class = "form-control validate", @placeholder = "Password", @type = "password", @ng_keyup = "PassWordEnterKey($event);", @ng_model = "Password", @autocomplete = "off" })
                                                <span class="focus-border"></span>
                                                <div class="input-icon">
                                                    <i id="LoginLock" class="fa fa-lock"></i>
                                                    <i id="PasswordShow" class="fa fa-eye-slash" style="display:none"></i>
                                                    <i id="PasswordShowHide" class="fa fa-eye" style="display:none"></i>
                                                </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="input-box" ng-init="BindModule()">
                                                    <select id="ddlModule"   class="select2 form-control validate" style="height: 50px;background: #e7e7e7;border-radius: 30px;padding-left: 50px;font-size: 20px;font-weight: 400;border: 0;box-shadow: none;" ng-model="ModuleId"  ng-show="IsModuleOpen">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="x in ModuleList" value="{{x.Id}}">{{x.Module_Name}}</option>
                                                    </select>  
                                                    <div class="text-box-msg-r">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 mg-bt" ng-init="GetCaptchaImage();" style="border: 1px solid #ccc;padding: 12px 16px;border-radius: 45px;margin-bottom: 8px;">
                                                <div class="input-box">
                                                    <img alt="Captcha" src="~/CustomFolder/images/CAPTCHA.png" ng-src="{{CaptchaSrc}}" style="float:left" />
                                                    <div class="text-box-msg-r">
                                                    </div>
                                                    <i class="{{refresh}}" ng-model="refresh" ng-init="refresh='fa fa-refresh'" aria-hidden="true" ng-click="GetCaptchaImage();" style="float:right;z-index: 9999999;position: absolute;right: 15px;"></i>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <input class="form-control numbersOnly validate" id="txtCaptcha" type="text" name="txtCaptcha" ng-model="Captcha" placeholder="How much is the sum">
                                                @*<div class="input-icon">
                                                        <i id="LoginLock" class="fa fa-lock"></i>
                                                    </div>*@
                                            </div>
                                            <div class="text-center forgot-pass-link">
                                                <a href="../Login/Forget">Forgot Password?</a>
                                            </div>

                                            <div class="form-group mb-20 form-btn">
                                                <button id="btnLogin" type="button" class="btn login-btn" ng-click="Login();">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-hello-container login-hello-container-inactive">
                    <div class="login-welcome-back-main-container-text-container">
                        <div class="login--container-logo-container">
                            <img class="login-login-container-logo-container-image" src="../Content/plugins/login/images/logoadmin.png" alt="logo" />
                        </div>
                        <span class="login-welcome-back-main-container-text-container-title">Welcome Back!</span>
                        <span class="login-welcome-back-main-container-text-container-secondary">To keep connected with us please login with your personal info.</span>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="login-wrapper">
            <div class="login">
                <div class="login-colored-container login-colored-container-left"></div>
                <div class="login-welcome-back login-welcome-back-active">
                    <div class="login-welcome-back-main-container">

                        <div class="login-welcome-back-logo-container">
                            <img class="login-welcome-back-logo-container-image" src="../Content/plugins/login/images/logo.png" alt="EZCompliance" />
                        </div>
                        <div class="login-welcome-back-main-container-text-container">
                            <span class="login-welcome-back-main-container-text-container-title">Welcome Back!</span>
                            <span class="login-welcome-back-main-container-text-container-secondary">To keep connected with us please login with your personal info.</span>
                        </div>
                        <div class="login-welcome-back-main-container-button-container">Sign In</div>
                    </div>
                </div>
                <div class="login-create-container login-create-container-active">
                </div>
                <div class="login-login-container login-login-container-inactive">
                    <div class="login-login-container-logo-container">
                        <img class="login-login-container-logo-container-image" src="../Content/plugins/login/images/logo.png" alt="EZCompliance" />
                    </div>
                    <div class="login-login-container-main-container">
                        <div class="login-login-container-main-container-form-container">
                            <div class="logo-form-area">
                                <div class="form-box" ng-controller="myLoginController">
                                    <div class="logo-box">
                                        <img id="imgSchoolLogo" ng-model="Logo" src="../Content/plugins/login/images/logoadmin.png" alt="Logo" />
                                    </div>
                                    <div class="sub-title">
                                        E-vendor Management System<label id="lblBranchCode" style="display:none;" ng-model="BranchCode" ng-bind="BranchCode"></label>
                                    </div>
                                    <div class="signin-msg-box">
                                        <div id="msgbox" style="display:none;">
                                            <label id="lblmsg"></label>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <form class="form-auth-small" id="loginbox">
                                            <div class="form-group">
                                                @Html.TextBox("txtUserNamel", "", new { @class = "form-control validate", @placeholder = "Username", @ng_model = "Username", @autocomplete = "off" })

                                                <span class="focus-border"></span>
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBox("txtPassWolrd", "", new { @class = "form-control validate", @placeholder = "Password", @type = "password", @ng_keyup = "PassWordEnterKey($event);", @ng_model = "Password", @autocomplete = "off" })

                                                <span class="focus-border"></span>
                                                <div class="input-icon">
                                                    <i id="LoginLock" class="fa fa-lock"></i>
                                                    <i id="PasswordShow" class="fa fa-eye-slash" style="display:none"></i>
                                                    <i id="PasswordShowHide" class="fa fa-eye" style="display:none"></i>
                                                </div>
                                            </div>
                                            <div class="text-center forgot-pass-link">
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <div class="form-group mb-20 form-btn">
                                                <button id="btnLogin" type="button" class="btn login-btn" ng-click="Login();">Sign In</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-hello-container login-hello-container-inactive">
                    <div class="login-welcome-back-main-container-text-container">
                        <div class="login--container-logo-container">
                            <img class="login-login-container-logo-container-image" src="../Content/plugins/login/images/white-logo.png" alt="EZCompliance" />
                        </div>
                        <span class="login-welcome-back-main-container-text-container-title">Welcome Back!</span>
                        <span class="login-welcome-back-main-container-text-container-secondary">To keep connected with us please login with your personal info.</span>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
    <!-- END WRAPPER -->

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/login/js/libscripts.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/login/js/vendorscripts.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/login/js/mainscripts.bundle.js")"></script>

    <script src="~/Content/plugins/vendors/bower_components/sweetalert/dist/sweetalert.js"></script>

</body>


</html>

